
<table id="dataTable"></table>

<script type="text/html" id="toolbar">
    <a href="{:url('form/index')}" class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-prev">返回</a><a data-href="{:url("del", ['fid' => $formInfo['id']])}" class="layui-btn layui-btn-danger layui-btn-sm hisi-page-btns confirm">删除</a>
</script>

<script type="text/html" id="buttonTpl">
    <a href="{:url('show')}?fid={{ d.fid }}&id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-primary j-iframe-pop" hisi-data="{width: '60%', height: '60%', title: '查看详情'}">查看</a>
    <a href="{:url('edit')}?id={{ d.id }}&fid={{ d.fid }}" class="layui-btn layui-btn-xs layui-btn-normal layui-icon layui-icon-edit j-iframe-pop" hisi-data="{width: '60%', height: '60%', title: '修改'}" title="修改"></a><a href="{:url('del')}?id={{ d.id }}&fid={{ d.fid }}" class="j-tr-del layui-btn layui-btn-xs layui-btn-danger layui-icon layui-icon-delete" title="删除"></a>
</script>

{include file="system@block/layui" /}

<script type="text/javascript">
	layui.use(['table', 'jquery', 'layer'], function() {
        var $ = layui.jquery, laydate = layui.laydate, table = layui.table, layer = layui.layer;

        table.render({
            elem: '#dataTable'
            ,url: '{:url()}?fid={:input('param.fid/d', 0)}'
            ,text: {
                none : '暂无相关数据'
            }
            ,page: true
            ,toolbar: '#toolbar'
            ,defaultToolbar: true
            ,cols: [[{type: 'checkbox'}, {field: 'id', title: '内容ID', width: 80},{foreach name="$tableField" id="vo"}{ field: "{$vo['field']}", title:"{$vo['title']}"{if (isset($vo['templet']))},templet:{$vo['templet']|raw}{/if} },{/foreach}{title: '操作', templet: '#buttonTpl', width: 160}]]
            ,done: function(res, curr, count) {
                if (typeof(layui.global.addTableTool) == 'function') layui.global.addTableTool(['refresh']);
                var json = [];
                $('.hisi-img-item').on('click', function() {
                    $('.hisi-img-item').each(function(){
                        var that = $(this);
                        json.push({alt: that.attr('title'), pid: '0', src: that.attr('src'), 'thumb': that.attr('src')});
                    });
                    layer.photos({photos: {status: 1, start: 0, title: '预览', id: 1, data: json}});
                });
            }
        });
	});
</script>