<!-- 加载统一layui资源 -->
{include file="system@block/layui" /}
<div class="layui-container-fluid">
    <div class="layui-row">
        <div class="layui-col-md12">
            <fieldset class="layui-elem-field layui-field-title">
                <legend> <span style="color: #2E9588;">{$proinfo.user.nick}</span>的任务进度一览表</legend>
            </fieldset>
        </div>
        <div class="layui-col-md12">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="100">
                    <col width="100">
                    <col width="100">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>任务名称</th>
                    <th>总数量</th>
                    <th>已完成</th>
                    <th>未完成</th>
                    <th>任务进度</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>总体任务</td>
                    <td>{$proinfo.zongshu}</td>
                    <td>{$proinfo.zongshu_finished}</td>
                    <td>{$proinfo.zongshu_unfinished}</td>
                    <td>
                        <div class="layui-progress" lay-showPercent="yes">
                            <div class="layui-progress-bar layui-bg-red" lay-percent="{$proinfo.zongshu_rate}%"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>初审任务</td>
                    <td>{$proinfo.chushen_num}</td>
                    <td>{$proinfo.chushen_num_finished}</td>
                    <td>{$proinfo.chushen_num_unfinished}</td>
                    <td>
                        <div class="layui-progress" lay-showPercent="yes">
                            <div class="layui-progress-bar layui-bg-blue" lay-percent="{$proinfo.chushen_rate}%"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>标注任务</td>
                    <td>{$proinfo.biaozhu_num}</td>
                    <td>{$proinfo.biaozhu_num_finished}</td>
                    <td>{$proinfo.biaozhu_num_unfinished}</td>
                    <td>
                        <div class="layui-progress" lay-showPercent="yes">
                            <div class="layui-progress-bar layui-bg-green" lay-percent="{$proinfo.biaozhu_rate}%"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>终审任务</td>
                    <td>{$proinfo.zhongshen_num}</td>
                    <td>{$proinfo.zhongshen_num_finished}</td>
                    <td>{$proinfo.zhongshen_num_unfinished}</td>
                    <td>
                        <div class="layui-progress" lay-showPercent="yes">
                            <div class="layui-progress-bar layui-bg-black" lay-percent="{$proinfo.zhongshen_rate}%"></div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
