{include file="system@block/layui" /}
<link rel="stylesheet" type="text/css" href="__COFCO_CSS__/style.css">
<style>
    .layui-form-title {
        color: #2E9588 !important;
    }

    .layui-textarea {
        min-height: 420px;
    }

</style>
{php} if(!isset($art_arr)){ $art_arr = ''; } {/php}

<div class="layui-container" style="max-width: 1400px;margin-bottom: 50px;">
    <form class=" layui-form-pane" action="{:url()}" method="post" id="editForm">
        <div class="layui-row">
            <div class="layui-col-md11">
                <div class="layui-form-title margin-t-20 margin-b-10">文章基本信息</div>
            </div>

            <div class="layui-col-md11">
                <label class="layui-form-label">文章ID</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input field-art_id" name="art_id"
                           value="{:artFiledValue($art_arr,'art_id')}"/>
                </div>
            </div>
            <div class="layui-col-md11">
                <label class="layui-form-label">文章标题</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input field-title" name="title" lay-verify="" autocomplete="off"
                           placeholder="" value="{:artFiledValue($art_arr,'title')}">
                </div>
            </div>
            <div class="layui-col-md5">
                <label class="layui-form-label">文章作者</label>
                <div class="layui-input-block ">
                    <input type="text" class="layui-input field-author" name="author" lay-verify="" autocomplete="off"
                           placeholder="" value="{:artFiledValue($art_arr,'author')}">
                </div>
            </div>
            <!--            <div class="layui-col-md3">-->
            <!--                <label class="layui-form-label">PMID</label>-->
            <!--                <div class="layui-input-block" >-->
            <!--                    <input type="text" class="layui-input field-pmid" name="pmid" lay-verify="" autocomplete="off" placeholder="">-->
            <!--                </div>-->
            <!--            </div>-->

            <div class="layui-col-md3">
                <label class="layui-form-label">DOI</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input field-doi" name="doi" lay-verify="" autocomplete="off"
                           placeholder="" value="{:artFiledValue($art_arr,'doi')}">
                </div>
            </div>
            <div class="layui-col-md3">
                <label class="layui-form-label">发表时间</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input field-issue" name="issue" id="issue" lay-verify=""
                           autocomplete="off" placeholder="" value="{:artFiledValue($art_arr,'issue')}">
                </div>
            </div>


            <div class="layui-col-md11">
                <div class="layui-form-title margin-t-20 margin-b-10">期刊信息</div>
            </div>
            <div class="layui-col-md5">
                <label class="layui-form-label">所属期刊</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input field-journal" name="journal" lay-verify="" autocomplete="off"
                           placeholder="" value="{:artFiledValue($art_arr,'journal')}">
                </div>
            </div>
            <div class="layui-col-md3">
                <label class="layui-form-label">影响因子</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input field-impact_factor" name="impact_factor" lay-verify=""
                           autocomplete="off" placeholder="" value="{:artFiledValue($art_arr,'impact_factor')}">
                </div>
            </div>
            <div class="layui-col-md3 layui-form">
                <label class="layui-form-label">所在分区</label>
                <div class="layui-input-block ">
                    <select name="journal_zone" class="layui-input field-journal_zone" id="journal_zone" lay-verify="">
                        <option value="">请选择</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>


            <div class="layui-col-md11">
                <div class="layui-form-title margin-t-20 margin-b-10">发表机构信息</div>
            </div>

            <div class="layui-col-md5">
                <label class="layui-form-label ">发表机构</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input field-institue" name="institue" lay-verify=""
                           autocomplete="off" placeholder="" value="{:artFiledValue($art_arr,'institue')}">
                </div>
            </div>


            <div class="layui-col-md3 layui-form">
                <label class="layui-form-label">文献类型 </label>
                <div class="layui-input-block">
                    <select name="project" id="project" lay-verify="required" lay-search="" enable-input="true">
                        <option value="">不限制</option>
                        <option value="{:NULL_STR}" class="tip-opt">空字符串</option>
                        <option value="MAN" {if artFiledValue($art_arr,
                        'project') == 'MAN'}selected{/if}>人工输入</option>
                        <option value="PUBMED_SPIDER" {if artFiledValue($art_arr,
                        'project') == 'PUBMED_SPIDER'}selected{/if}>Pubmed爬虫</option>
                        <option value="SCIENCE_SPIDER" {if artFiledValue($art_arr,
                        'project') == 'SCIENCE_SPIDER'}selected{/if}>Science爬虫</option>
                    </select>
                </div>
            </div>


            <div class="layui-col-md3">
                <label class="layui-form-label">机构国家</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input field-country" name="country" lay-verify="" autocomplete="off"
                           placeholder="" value="{:artFiledValue($art_arr,'country')}">
                </div>
            </div>

            <div class="layui-col-md11">
                <label class="layui-form-label">文章关键词</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input field-keyword" name="keyword" lay-verify="" autocomplete="off"
                           placeholder="" value="{:artFiledValue($art_arr,'keyword')}">
                </div>
            </div>

            <div class="layui-col-md11">
                <div class="layui-form-title margin-t-20 margin-b-10">标注及说明</div>
            </div>

            <div class="layui-col-md11">
                <label class="layui-form-label">标签标注</label>
                <div id='treebox' style="margin: 40px 0px 30px  "></div>
            </div>


            <div class="layui-col-md6">
                <label class="layui-form-label">特别说明</label>
                <div class="layui-input-block ">
                    <input type="text" class="layui-input field-special_version" name="special_version" lay-verify=""
                           autocomplete="off" placeholder="" value="{:artFiledValue($art_arr,'special_version')}">
                </div>
            </div>
            <div class="layui-col-md5">
                <label class="layui-form-label">紧要程度 </label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input field-urgency" name="urgency" lay-verify="" autocomplete="off"
                           placeholder="" value="{:artFiledValue($art_arr,'urgency')}">
                </div>
            </div>


            <div class="layui-col-md6">
                <div class="layui-form-title margin-t-20 margin-b-10">原文摘要</div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-title margin-t-20 margin-b-10">摘要翻译</div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item textarea-container">
                    <textarea rows="25" class="layui-textarea field-abstract auto-textarea-content" name="abstract"
                              lay-verify="" autocomplete="off"
                              placeholder="原文摘要">{:artFiledValue($art_arr,'abstract')}</textarea>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item textarea-container">
                    <textarea rows="25" class="layui-textarea field-tabstract auto-textarea-content" name="tabstract"
                              lay-verify="" autocomplete="off"
                              placeholder="摘要翻译">{:artFiledValue($art_arr,'tabstract')}</textarea>
                </div>
            </div>
            <div class="layui-col-md12 layui-form">
                <div class="layui-form-item">
                    <input type="radio" class="field-status" name="status" value="1" title="待分配" {if
                           artFiledValue($art_arr, 'status') == '1'}checked{/if}>
                    <input type="radio" class="field-status" name="status" value="2" title="文献标注" {if
                           artFiledValue($art_arr, 'status') == '2'}checked{/if}>
                    <input type="radio" class="field-status" name="status" value="3" title="文献终审" {if
                           artFiledValue($art_arr, 'status') == '3'}checked{/if}>
                    <input type="radio" class="field-status" name="status" value="4" title="文献输出" {if
                           artFiledValue($art_arr, 'status') == '4'}checked{/if}>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-col-md10">
                    <button type="button" class="layui-btn layui-btn-sm" lay-submit="" style="width: 200px;"
                            id="formSubmit">提交
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $(function () {
        layui.use(['laydate','layer'], function () {
            var laydate = layui.laydate;
            var layer = layui.layer;
            //常规用法
            laydate.render({
                elem: '#issue'
            });
        });
    });

    //禁用一些选项的编辑功能
    function disableField(field = []) {
        for (var key in field) {
            var field_name = field[key]
            $('input[name="' + field_name + '"]').attr('disabled', true).addClass('disabled');
            $('textarea[name="' + field_name + '"]').attr('disabled', true).addClass('disabled');
        }

        layui.use('form', function () {
            var form = layui.form;
            form.render();
        });
    }
</script>

<script src="__ADMIN_MOD_JS__/tntreebox/tntreebox.js?v=35"></script>
<link rel="stylesheet" type="text/css" href="__ADMIN_MOD_JS__/tntreebox/tntreebox.css?v=27" />




