{include file="cofco@block/edit_form"/}
<div class="layui-row" id="edit-button">
        <button type="button" class="layui-btn layui-btn-sm cofco-blacklist" lay-submit="" style="width: 200px;"
                id="blacklist-formSubmit">移置黑名单
        </button>
        <button type="button" class="layui-btn layui-btn-sm layui-btn-danger" lay-submit="" style="width: 200px;"
                id="recycle-formSubmit">移置回收站
        </button>
        <button type="button" class="layui-btn layui-btn-sm" lay-submit="" style="width: 200px; float: right"
                id="formSubmit">初审通过
        </button>
        <button type="button" class="layui-btn layui-btn-sm layui-btn-warm" lay-submit="" style="width: 200px; float: right"
                id="reject-formSubmit">驳回
        </button>
</div>
<script>
        $(function () {
                disableField(['art_id','special_version','title','author','doi',
                        'issue','journal','impact_factor','journal_zone','institue',
                        'project','country','keyword','special_version','urgency','abstract','tabstract']);

                layui.use(['jquery', 'layer', 'laydate'], function () {
                        var layer = layui.layer;
                        var $ = layui.jquery;
                        $('#label-treebox').hide();

                        //禁用下拉框
                        $('select').attr('disabled', 'disabled');
                        form.render('select');
                        var status = parseInt({:artFiledValue($art_arr, 'status')});
                        $('input[name="status"][value!="1"]').attr('disabled', true).addClass('disabled');

                        var data = {:htmlspecialchars_decode($label_list)};
                        var label = {:htmlspecialchars_decode(json_encode($label))};
                        var label_arr = new Array();
                        for(var a in label){
                                label_arr.push(label[a]['label_id']);
                        }
                        tnTreeBox('treebox',data,label_arr);


                        formSubmit('#formSubmit',status,status+1,label_arr);
                        formSubmit('#reject-formSubmit',status,status-1,label_arr);
                        formSubmit('#blacklist-formSubmit',status,-2,label_arr);
                        formSubmit('#recycle-formSubmit',status,-1,label_arr);

                });
        })

</script>
