{include file="cofco@block/edit_form"/}
<script>
    var status = parseInt({:artFiledValue($art_arr, 'status')});
    for (var i = 1; i < 5; i++) {
        if (i < parseInt(status) - 1 || i > parseInt(status) + 1) {
            input = $('.field-status[value="' + i + '"]');
            input.prop('disabled', true);
        }
    }

    $(function () {
        disableField(['special_version']);
    });

    $('#formSubmit').click(function (e) {
        var form_s = $('#editForm');
        var form_data = form_s.serializeArray();
        form_data.push({
            name: "pre_status",
            value: status
        });
        console.log(form_data);
        var article_api_url_edit = "{:url($article_api_url.'/edit')}";
        $.post(article_api_url_edit, form_data, function (res) {
            insertTag();
            if (res.code === 0) {
                console.log(res.message);


                layer.msg(
                    res.message
                    , {time: 1000}
                    , function () {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);//关闭当前页
                        parent.layui.table.reload('articletable'); //刷新表格
                    });

            } else {
                layer.msg(res.message);
            }
        });
        if (e.preventDefault) {
            e.preventDefault();
        } else {
            window.event.returnValue == false;
        }
    });

    $('#tag_select').click(function (e) {
        e.preventDefault();
        var levelpop_url = "{:url('/cofco/labeldata/levelpop')}";
        layui.use(['layer'], function () {
            var index_tag = layer.open({
                type: 2,
                title: '标签标注',
                shadeClose: true,
                shade: 0.8,
                offset: '10%',
                area: ['90%', '70%'],
                content: levelpop_url, //iframe的url
                btn: ['确定'],
                yes: function (index, layero) {
                    layer.close(index_tag)
                    var body = layer.getChildFrame('body', index);
                    var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                    //console.log(body.html()) //得到iframe页的body内容
                    var lable = body.find('div.header');
                    parent.$("#tag_div").html(lable);

                    $("#tag_div", parent.document)
                    // $(".header div.tag").each(function() {
                    //     // let this = $(this);
                    //     console.log($(this).html());
                    // });

                    // console.log(parentId.HTML);
                    //按钮【按钮一】的回调

                }
            });
        });
    });
</script>