{include file="cofco@block/edit_form"/}
<div class="layui-row">
    <div class="layui-col-md10">
        <button type="button" class="layui-btn layui-btn-sm" lay-submit="" style="width: 200px;"
                id="formSubmit">提交
        </button>
    </div>
</div>

<script>
    disableField(['special_version']);

    layui.use(['jquery', 'layer', 'laydate'], function () {
        var layer = layui.layer;
        var $ = layui.jquery;

        formSubmit('#formSubmit',0,0,[]);


    });
</script>
