<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <link rel="stylesheet" href="__ADMIN_JS__/layui/css/layui.css">
    <link rel="stylesheet" href="__ADMIN_CSS__/style.css?v={:time()}">
</head>
<body>

{include file="system@block/layui" /}

<table class="layui-hide" id="demo" lay-filter="test"></table>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="choose">选择</button>
        <button class="layui-btn layui-btn-sm" lay-event="cancel">取消</button>
    </div>
</script>

<script>
    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#demo'
            , url: 'get_spiders'
            , title: '关键词列表'
            , toolbar: '#toolbar'
            , cols: [[ //表头
                {type: 'radio', fixed: 'left', width: '5%'}
                , {field: 'id', title: 'ID', width: '10%', sort: true}
                , {field: 'name', title: '关键词名称', width: '35%', sort: true}
                , {field: 'type', title: '类型', width: '15%', templet: typeTpl}
                , {field: 'username', title: '创建人', width: '15%', sort: true}
                , {field: 'ctime', title: '创建时间', width: '20%', sort: true}
            ]]
            , parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.status, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "data": res.data //解析数据列表
                };
            }
        });

        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'choose':
                    var data=checkStatus.data;
                    if (data.length==0) layer.msg("请选择数据！");
                    else {
                        id_name=new Array(data[0].id,data[0].name);
                        parent.{$callback}(id_name);
                        parent.layer.closeAll();
                    }
                    break;
                case 'cancel':
                    parent.layer.closeAll();
                    break;
            }
        });

    });


    var typeTpl = function (d) {
        return (d.type == '1' ? '<a>Pubmed</a>' : '<a>Science</a>');
    }

</script>

</body>
</html>
