{include file="system@block/layui" /}
<script src="__ADMIN_MOD_JS__/echarts.min.js"></script>

<form class="layui-form layui-form-pane" action="{:url()}" method="post" id="editForm">
    <div class="layui-form-item">
        <label class="layui-form-label">爬虫选择</label>
        <div class="layui-input-inline">
            <input type="hidden" name="pachongid" id="pachongid"
                   lay-verify="required" autocomplete="off" class="layui-input" value="{$user_input?$user_input['pachongid']:''}">
        </div>
        <div class="layui-input-inline" style="width: 650px">
            <input type="label" class="layui-input field-value"
                   name="pachongname" id="pachongname" lay-verify="" autocomplete="off" placeholder="不能为空" value="{$user_input?$user_input['pachongname']:''}">
        </div>
        <a href="{:url('spider_levelpop?callback=spider_choose')}" title="选择爬虫" class="layui-btn layui-btn-primary j-iframe-pop fl layui-btn-sm">选择爬虫</a>

    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">年份范围</label>
        <div class="layui-input-inline" style="width: 305px">
            <input type="text" class="layui-input" autocomplete="off"
                   name="start_year" id="start_year" placeholder="开始年份 默认2010">
        </div>
        <label class="layui-form-label">至</label>
        <div class="layui-input-inline" style="width: 305px">
            <input type="text" class="layui-input" autocomplete="off"
                   name="end_year" id="end_year" placeholder="结束年份 默认2019">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <input type="hidden" class="field-id" name="id" value="63">
            <button type="button" class="layui-btn layui-btn-sm" lay-filter="formSubmit" onclick="judge_year()">统计</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">清空</button>
        </div>
    </div>
</form>
<script>

    function spider_choose(id_name) {
        var spider_id=id_name[0];
        var spider_name=id_name[1];
        $('input[name="pachongid"]').val(spider_id);
        $('input[name="pachongname"]').val(spider_name);
    }

    function judge_year() {
        var year1=document.getElementById("start_year").value;
        var year2=document.getElementById("end_year").value;
        var spider_name=document.getElementById("pachongname").value;
        if (year1>year2) {
            layui.layer.msg("起始年份不能大于结束年份！");
            return false;
        }
        else if (spider_name=="") {
            layui.layer.msg("请选择爬虫关键词！");
            return false;
        }
        else document.getElementById("editForm").submit();
    }

    $(function () {
        $('button[type="reset"]').click(function (e) {
            $('input[name="start_year"]').val('');
            $('input[name="end_year"]').val('');
            $('input[name="pachongid"]').val('');
            $('input[name="pachongname"]').val('');
        });
    });

</script>

<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //年范围
        laydate.render({
            elem: '#start_year'
            ,type: 'year'
            ,range: false
        });

        laydate.render({
            elem: '#end_year'
            ,type: 'year'
            ,range: false
        });

    });
</script>

{if condition="$display_statistic==1"}
<div class="container" id="data_result">
    <div id="main" style="width:100%;height:500px;"></div>
</div>
<div class="layui-tab-content page-tab-content">
    <div class="layui-tab-item layui-show">
        <div class="fl" style="width:99%">
        </div>
    </div>
</div>

<script type="text/javascript">

    var dom = document.getElementById("main");
    var myChart = echarts.init(dom);
    var app = {};
    app.title = '坐标轴刻度与标签对齐';

    option = {
        color: ['#3398DB'],
        tooltip : {
            trigger: 'axis',
            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis : [
            {
                type : 'category',
                data : [<?php for ($i=$startyear;$i<=$endyear;$i++){ echo $i.',';} ?>],
                axisTick: {
                    alignWithLabel: true
                }
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : [
            {
                name:'{$spidername}',
                type:'bar',
                barWidth: '60%',
                data:[{:join(',', $result)}]
            }
        ]
    };
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
</script>
{/if}

<script>  var formData = null</script>