{include file="cofco@block/edit_form"/}

<script>
    layui.use(['form', 'jquery', 'layer'], function (e) {

        var $ = layui.$;
        var form = layui.form;
        var layer = layui.layer;
        $('select[name="project"]').attr('disabled', true).addClass('disabled').find('option[value="MAN"]').attr('selected', true);
        $('input[name="status"][value="0"]').attr('checked', true);
        $('input[name="status"][value!="0"]').attr('disabled', true).addClass('disabled');
        form.render();
    });

</script>