{include file="cofco@block/edit_form"/}


<script>
    layui.use(['form','jquery'],function (e) {
        var $ = layui.$;
        var form = layui.form;
        $('select[name="project"]').attr('disabled',true).addClass('disabled').find('option[value="MAN"]').attr('selected',true);
        $('input[name="status"][value="1"]').attr('checked',true);
        $('input[name="status"][value!="1"]').attr('disabled',true).addClass('disabled');
        form.render();
    });

    $('#formSubmit').click(function (e) {
        var form_s = $('#editForm');
        var form_data = form_s.serializeArray();
        console.log(form_data);
        var label_ids = new Array();  // 标签id
        $(".header div.tag").each(function() {
            // let this = $(this);
            label_ids.push($(this).attr('value'));
        });
        form_data.push({
            name: "label_ids",
            value: label_ids
        });
        console.log(form_data);
        var article_api_url_edit = "{:url($article_api_url.'/add')}";
        console.log(article_api_url_edit);
        $.post(article_api_url_edit,form_data,function (res) {
            console.log(res);
            if(res.code===0){

                layer.alert(
                    res.message
                    ,{
                        offset:'auto',
                        icon: 1,
                        skin: 'layer-ext-moon' //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
                    }
                    ,function (e) {
                        layui.layer.closeAll();
                        location.reload()
                    });
            }
            else {
                layer.alert(
                    res.message
                    ,{
                        offset:'auto',
                        icon: 1,
                        skin: 'layer-ext-moon' //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
                    });

            }

        });
        if(e.preventDefault){ e.preventDefault(); }else{ window.event.returnValue == false;}


        // var art_id = form_data[0]['value'];
        // var url = "{:url('/cofco/articlelabel/addLabel')}";
        // $.ajax({
        //     type: "POST",
        //     url: url,
        //     data: { art_id:art_id , label_ids: ids }
        // }).done(function( res ) {
        //     console.log(res);
        // });
    });


    /**
     * 标签选择
     */
    $('#tag_select').click(function (e) {
        e.preventDefault();
        var levelpop_url = "{:url('/cofco/labeldata/levelpop')}";
        layui.use(['layer'], function () {
            var index_tag = layer.open({
                type: 2,
                title: '标签标注',
                shadeClose: true,
                shade: 0.8,
                offset: '10%',
                area: ['90%', '70%'],
                content: levelpop_url, //iframe的url
                btn: ['确定'],
                yes: function (index, layero) {
                    layer.close(index_tag)
                    var body = layer.getChildFrame('body', index);
                    var iframeWin = window[layero.find('iframe')[0]['name']]; //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
                    //console.log(body.html()) //得到iframe页的body内容
                    var lable = body.find('div.header');
                    parent.$("#tag_div").html(lable);

                    // $(".header div.tag").each(function() {
                    //     // let this = $(this);
                    //     console.log($(this).html());
                    // });

                    // console.log(parentId.HTML);
                    //按钮【按钮一】的回调

                }
            });
        });
    });
    console.log($("span"));
    $('span').each(function(){
        $(this).click(function(){
            var obj = $(this);
            obj.parent().remove();
        });
    });
</script>