<form class="layui-form layui-form-pane" action="{:url()}" method="post" id="editForm">
    <div class="layui-form-item hide">
        <label class="layui-form-label">标签id</label>
        <div class="layui-input-inline w300">
            <input type="text" class="layui-input field-value" name="id"
                   value="{:artFiledValue($data_info,'id')}">
        </div>
    </div>
    {php}
    if($data_info['cid']==0)
    $levellabel_option=0;
    {/php}
    <div class="layui-form-item">
        <label class="layui-form-label">上级标签</label>
        <div class="layui-input-inline">
            <select name="cid"   type="select" >
                {php}
                foreach ($levellabel_option as $k => $v) {
                if (artFiledValue($data_info,'cid') == $k) {
                echo '<option value="'.$k.'" selected>'.$v.'</option>';
                } else {
                echo '<option value="'.$k.'">'.$v.'</option>';
                }
                }
                {/php}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">标签名称</label>
        <div class="layui-input-inline w300">
            <input type="text" class="layui-input field-value" name="value"
                   lay-verify="required" autocomplete="off" placeholder="请只添加一个值"
                   value="{:artFiledValue($data_info,'value')}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">标签分值</label>
        <div class="layui-input-inline w300">
            <input type="text" class="layui-input field-score" name="score"
                   lay-verify="" autocomplete="off" placeholder=""
                   value="{:artFiledValue($data_info,'score')}">
        </div>
        <div class="layui-form-mid layui-word-aux"><a href="javascript:void(-1);" id="reset_expire">点我不设置分值</a></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状&nbsp;&nbsp;&nbsp;&nbsp;态</label>
        <div class="layui-input-inline">
            <input type="radio" class="field-status" name="status" value="1" title="启用" >
            <input type="radio" class="field-status" name="status" value="0" title="禁用">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="formSubmit">提交</button>
            <a href="{:url('levellabel')}" class="layui-btn layui-btn-primary ml10"><i class="aicon ai-fanhui"></i>返回</a>
        </div>
    </div>
</form>
{include file="system@block/layui" /}
<script>
    var formData = {:json_encode($data_info)};
    console.log(formData);
    layui.use(['jquery', 'laydate'], function() {
        var $ = layui.jquery;
        var value = {:artFiledValue($data_info,'status')};
        $('input[name="status"][value="'+value+'"]').attr('checked',true);
        $('#reset_expire').on('click', function(){
            $('input[name="score"]').val(-1);


        });
    });
</script>
